body {
  font: 30px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
  background-image: url('./images/tic-tac-toe-full-size.jpg');
}

ol, ul {
  padding-left: 30px;
  color: whitesmoke;
}

div {
  color: whitesmoke;
  text-shadow: 2px 2px rgb(9, 121, 95);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  color: rgb(194, 0, 0);
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  text-shadow: 1px 1px rgb(194, 0, 0);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.mover{
  background: rgb(9, 121, 95);
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.mover:hover{
  background: #fff;
  color: rgb(9, 121, 95);
}
.mover:before,.mover:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(9, 121, 95);
  transition: 400ms ease all;
}
.mover:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.mover:hover:before,.mover:hover:after{
  width: 100%;
  border-radius: 5px;
  transition: 1300ms ease all;
}